---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "bootstrap";
@import "fonts";
@import "_myVariables";


// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

h1{
    font-size: 20px;
    color: $text-color;
}

//carousel fullscreen
html,body{
  height:100%;
}

.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}

.fill {
    height:100%;
}

.fillChild {

    position: absolute;
    top:$carousel-margin;
    bottom:$carousel-margin;
    left: $carousel-margin/2;
    right: $carousel-margin/2;
}

.fillImg {
height: 100%;
width: 100%;
object-fit: contain;   
}

.container {
  width: 100%;
}

.head {
    z-index: 2048;
    position:absolute;
    height:$carousel-margin;
    top:0;
}

.info-slide {
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    height: $carousel-margin;      
}

.center-title{
    text-align: center;
}
.vCenterTitle{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

//pager container
.pager {
    position: absolute;
    top:0.00%;
    margin: 0;
    height: $carousel-margin;
    list-style-type: square;

}

.pager-item {
    list-style-type: square;
}


//set pager styles
.carousel-indicators {
    //text-align: center;
    //margin-left: $carousel-margin/2;
    //left: 0;
    //bottom:-10px;
    list-style-type: square;

}
.carousel-indicators li{
    border: 1px solid $text-color;
    width: 4px;
    height: 4px;
    margin: 0;
    list-style-type: square;

}
.carousel-indicators .active{
    background-color: $text-color;
    width:4px;
    height:4px;
    list-style-type: square;


}

//style inline-txt "title"
.postTitle{
    font-style: italic;
}

/* keep full widget on smaller screens */
@media (max-width: 767px) { 
    body {
        padding-left: 0;
        padding-right: 0;
    }
}

@import "base";
//@import "layout";
//@import "syntax-highlighting";
