---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "bootstrap";
@import "fonts";
@import "_myVariables";


// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

//carousel fullscreen
html,body{
  height:100%;
}

h1{
  font-size: $base-font-size;
  color: $text-color;
}

.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}

.fill {
    height:100%;
}

.fillChild {
    position: absolute;
    top:$carousel-margin*1.25;
    bottom:$carousel-margin*1.25;
    left:$carousel-margin*0.25;
    right:$carousel-margin*0.25;
}

.fillImg {
  height: 100%;
  width: 100%;
  object-fit: contain;   
}

.container {
  width: 100%;
}

.head {
    z-index: 1;
    position:absolute;
    height:$carousel-margin;
    margin-top: 0;
}

.info-slide {
    border-top: 1px solid $background-color;
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    height: $carousel-margin;      
}

//center vertical & horizontal
.center-title{
    text-align: center;
}
.vCenterTitle{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

//pager container
.pager {
    position: absolute;
    top:0;
    margin: 0;
    margin-top: 8px;
    padding: 0;
    height: $carousel-margin;
    list-style-type: square;
}

//set pager styles
.carousel-indicators {
    list-style-type: square;
}
.carousel-indicators li{
    border: 1px solid $text-color;
    width: $pager-size;
    height: $pager-size;
    margin: auto;
    list-style-type: square;
}
.carousel-indicators .active{
    border: 2px solid $text-color;
    background-color: $text-color;
    width:$pager-size;
    height:$pager-size;
    list-style-type: square; 
}

//carousel control styles
.carouselControlIcon{
    font-size: $base-font-size*2;
    color: $text-color;
    width: 100%;
    display: block;
    margin: 0 auto; 
    text-align: center;
}
.carousel-control {
    opacity: 1.0;
}

//style inline-txt "title"
.postInfo{
    font-weight: 400;
    font-style: italic;
}
.postTitle{
    font-weight: 700;
    font-style: normal;
}
.nowrap{
    white-space: nowrap
}

//modal styles
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.nomargin{
   margin: 0 ;
}
#myModal .modal-dialog{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: transparent;
}
.modal-backdrop {
    background-color: $background-color;
}
.modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0);
}
.modal-backdrop.fade.in {
    opacity: 1.0;
    filter: alpha(opacity=100);
}
.modal-content {
    background: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    min-height: 100% !important;
}
.modal-header{
  margin: 0 auto;
    padding: 0px;
    height: 100%;
}
.bottomBorder{
    border-bottom: 1px solid #e5e5e5;
}


.fade {
    opacity: 0;
    -webkit-transition: opacity $fade-speed linear;
      -moz-transition: opacity $fade-speed linear;
       -ms-transition: opacity $fade-speed linear;
        -o-transition: opacity $fade-speed linear;
           transition: opacity $fade-speed linear;
}
.invert{
color:white;
}
.modalInfoText{    
    position: absolute;
    top:$carousel-margin;
    left: 0;
    right: 0;
    bottom:0;
}
.modalContentBg{
  background:rgba(255,255,255,0.35); 
  bottom:0;

}

// Table styles
.modalItemList{
    height: $base-font-size*3;
    //width: $base-font-size*3;
}
.menuItem{
    line-height: $base-font-size*3;
}
.previewImg{
    object-fit: cover;
}
.table > thead > tr > th {
    border-bottom: 1px solid #ddd;
}
.table > thead > tr > th {
    line-height: $base-font-size*3;
}
table {
    width: 100%;
}

.table-hover > tbody > tr{
    background:rgba(255,255,255,0.0);
  
  -webkit-transition: background .5s ease-out;
     -moz-transition: background .5s ease-out;
       -o-transition: background .5s ease-out;
          transition: background .5s ease-out;
}
.table-hover > tbody > tr:hover{
    background-color: rgba(0,0,0,0.35);
}
.table-hover > tbody > tr:hover p{
    color: $background-color;
}
.table-hover > tbody > tr p{
    color: $text-color;
}
tr > td > .menuItem:hover {
        text-decoration: none;
}

/* keep full widget on smaller screens */
@media (max-width: 767px) { 
    body {
        padding-left: 0;
        padding-right: 0;
    }
}

.pagersPos{
    position:absolute; 
    top: 0;
}
.pagerLeft{
    border-right: 1px solid $background-color;

    background:rgba(255,255,255,0.35);  
  -webkit-transition: background .5s ease-out;
     -moz-transition: background .5s ease-out;
       -o-transition: background .5s ease-out;
          transition: background .5s ease-out;

    position: absolute;
    top:$carousel-margin;
    bottom:$carousel-margin;

}
.pagerRight{
    border-left: 1px solid $background-color; 

    background:rgba(255,255,255,0.35);  
  -webkit-transition: background .5s ease-out;
     -moz-transition: background .5s ease-out;
       -o-transition: background .5s ease-out;
          transition: background .5s ease-out;

    position: absolute;
    top:$carousel-margin;
    bottom:$carousel-margin;

}
.pagerLeft:hover{
    background-color: rgba(0,0,0,0.35);
}
.pagerLeft:hover .carouselControlIcon {
    color: $background-color;
}
.pagerRight:hover{
    background-color: rgba(0,0,0,0.35);
}
.pagerRight:hover .carouselControlIcon {
    color: $background-color;
}

/* head styles */
.headBg{
    border-bottom: 1px solid $background-color;
}
.homeBg{
    border-right: 1px solid $background-color;
    border-left: 1px solid $background-color;

    background:rgba(255,255,255,0.35);  
  -webkit-transition: background .5s ease-out;
     -moz-transition: background .5s ease-out;
       -o-transition: background .5s ease-out;
          transition: background .5s ease-out;
}
.homeBg:hover{
    background-color: rgba(0,0,0,0.35);
}
.homeBg:hover h1 {
    color: $background-color;
}

.indexBg{
    border-right: 1px solid $background-color;

    background:rgba(255,255,255,0.35);  
  -webkit-transition: background .5s ease-out;
     -moz-transition: background .5s ease-out;
       -o-transition: background .5s ease-out;
          transition: background .5s ease-out;
}
.indexBgActive{
  border-right: 1px solid $background-color;
  background:rgba(0,0,0,0.35);
}
.indexBgActive h1{
  color: $background-color;
}
.indexBg:hover{
    background-color: rgba(0,0,0,0.35);
}
.indexBg:hover h1 {
    color: $background-color;
}

.contactBg{
    border-right: 1px solid $background-color;
    background:rgba(255,255,255,0.35);  
  -webkit-transition: background .5s ease-out;
     -moz-transition: background .5s ease-out;
       -o-transition: background .5s ease-out;
          transition: background .5s ease-out;
}
.contactBg:hover{
    background-color: rgba(0,0,0,0.35);
}
.contactBg:hover h1 {
    color: $background-color;
}



/* Background Vignette Gradient */
.gradient{
    background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) $bgOpacity_1, rgba(0,0,0,0) $bgOpacity_2, rgba(0,0,0,1) $bgOpacity_3, rgba(0,0,0,1) $bgOpacity_4); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop($bgOpacity_1,rgba(0,0,0,0)), color-stop($bgOpacity_2,rgba(0,0,0,0)), color-stop($bgOpacity_3,rgba(0,0,0,1)), color-stop($bgOpacity_4,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) $bgOpacity_1,rgba(0,0,0,0) $bgOpacity_2,rgba(0,0,0,1) $bgOpacity_3,rgba(0,0,0,1) $bgOpacity_4); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) $bgOpacity_1,rgba(0,0,0,0) $bgOpacity_2,rgba(0,0,0,1) $bgOpacity_3,rgba(0,0,0,1) $bgOpacity_4); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) $bgOpacity_1,rgba(0,0,0,0) $bgOpacity_2,rgba(0,0,0,1) $bgOpacity_3,rgba(0,0,0,1) $bgOpacity_4); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(0,0,0,0) $bgOpacity_1,rgba(0,0,0,0) $bgOpacity_2,rgba(0,0,0,1) $bgOpacity_3,rgba(0,0,0,1) $bgOpacity_4); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.pagina{
    background:rgba(255,255,255,0.35);
    border-right: 1px solid $background-color;
    padding-left: 0;
    padding-right:0;
}
.infoBg{
  background:rgba(255,255,255,0.35);
}

@import "base";
//@import "layout";
//@import "syntax-highlighting";
