	<div class="container head"> 


	  <div class="row vCenterTitle">

	  	<div class="col-xs-6 col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-4">

		    <div class="center-title" style="">
		        <h1 >
		        	<span class="postTitle">
			        	{{ site.title }}
			        </span>
			    </h1>
		    </div>

		</div>

		<div class="col-xs-3 col-sm-2 col-md-1">

		    <div class="center-title ">
		        <h1 >
			        <span class="">index</span>
			    </h1>
		    </div>

		</div>

		<div class="col-xs-3 col-sm-2 col-md-1">
		    <div class="center-title ">
		        <h1 >
			        <span class="">kontakt</span>
			    </h1>
		    </div>

		</div>

	  </div>
	</div>

	<div class="container head"> 
		<div class="row" style="height:100%; border-bottom: 1px solid black;">

			<a href="{{ site.baseurl }}/" data-dismiss="modal">
				<div class="col-xs-6 col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-4" style="height:100%; border-left: 1px solid black; border-right: 1px solid black;  border-bottom: 1px solid black;">
				</div>
			</a>
	
			<a href="#myModal" data-keyboard="true" data-toggle="modal">
				<div class="col-xs-3 col-sm-2 col-md-1" style="height:100%; border-right: 1px solid black; border-bottom: 1px solid black;">
				</div>
			</a>

			<a href="mailto:egnitessam@gmail.com">
				<div class="col-xs-3 col-sm-2 col-md-1" style="height:100%; border-right: 1px solid black; border-bottom: 1px solid black;">
				</div>
			</a>

		</div>
	</div>
