	
	<div class="container head"> 
		<div class="row fill headBg">

			<a href="{{ site.baseurl }}/" data-dismiss="modal">
				<div class="col-xs-offset-1 col-xs-4 col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-4 col-lg-2 col-lg-offset-4 fill homeBg">
					<div class="row vCenterTitle">
						<div class="center-title">
					        <h1 >
					        	<span class="postTitle">
						        	{{ site.title }}
						        </span>
						    </h1>
					    </div>
					</div>

				</div>
			</a>
	
			<a href="#myModal" data-keyboard="true" data-toggle="modal">
				<div class="col-xs-3 col-sm-2 col-md-1 col-lg-1 fill indexBg">
					<div class="row vCenterTitle">
						<div class="center-title">
					        <h1 >
						        <span class="">index</span>
						    </h1>
					    </div>
					</div>
				</div>
			</a>

			<a href="mailto:egnitessam@gmail.com">
				<div class="col-xs-3 col-sm-2 col-md-1 col-lg-1 fill contactBg">
					<div class="row vCenterTitle">
						<div class="center-title ">
					        <h1 >
						        <span class="">kontakt</span>
						    </h1>
					    </div>
					</div>
				</div>
			</a>

		</div>
	</div>
