
<nav> 

    <div id="myModal" class="modal modal-fullscreen fade" tabindex='-1'> <!--class="fade" -->
      <div class="modal-dialog nopadding">
        <div class="modal-content">

          <!-- Header -->
          <div class="modal-header">

              <div class="row vCenterTitle">
                <div class="center-title ">
                    <h1 >{{ site.title }}</h1>
                </div>
              </div>

          </div>
              
          <!-- Body Modal -->
          <div class="modal-body">
          </div>

      </div>
    </div>
  </div>

</nav> 
