

    <div id="myModalAbout" class="modal modal-fullscreen fade gradient" tabindex='-1'> <!--class="fade" -->
      <div class="modal-dialog nopadding fill">
        <div class="modal-content modalContentBg fill">

          {% include header_modal_info.html %}
          <!--
          <div class="container modalInfoText">
            {{ site.description }}
            
            <div class="row bottomBorder" style="padding-bottom:50px;">
              <div class="col-xs-offset-0 col-sm-offset-1 col-md-offset-2 col-lg-offset-3 col-xs-12 col-sm-8 col-md-5 col-lg-4">
              -->
                  <!--<p class=""></p>-->
              <!--
              </div>
            </div>


          </div>
-->
      </div>
    </div>
  </div>
