
<nav> 

    <div id="myModal" class="modal modal-fullscreen fade" tabindex='-1'> <!--class="fade" -->
      <div class="modal-dialog nopadding">
        <div class="modal-content">

          <!-- Header -->
          <a href="#myModal" data-keyboard="true" data-toggle="modal">
            <div class="container head bottomBorder">
              <div class="row vCenterTitle">
                <div class="center-title ">
                    <h1 class="negativ">{{ site.title }}</h1>
                </div>
              </div>
            </div>
          </a>
          
          <div class="container fill">
            <div class="modalInfoText negativ">
              <div class="row">
                <div class="col-sm-3 col-sm-offset-2">
                  {{ site.description }}
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>
  </div>

</nav> 
