@font-face {
    font-family: 'questaregular';
    src: url('../fonts/questa_regular_macroman/2-Questa_Regular-webfont.eot');
    src: url('../fonts/questa_regular_macroman/2-Questa_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/questa_regular_macroman/2-Questa_Regular-webfont.woff2') format('woff2'),
         url('../fonts/questa_regular_macroman/2-Questa_Regular-webfont.woff') format('woff'),
         url('../fonts/questa_regular_macroman/2-Questa_Regular-webfont.ttf') format('truetype'),
         url('../fonts/questa_regular_macroman/2-Questa_Regular-webfont.svg#questaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Ostrich Sans Rounded';
	src: url('../fonts/ostrich_sans_rounded/ostrich-sans-rounded.eot');
	src: url('../fonts/ostrich_sans_rounded/ostrich-sans-rounded.woff') format('woff'), 
		 url('../fonts/ostrich_sans_rounded/ostrich-sans-rounded.ttf') format('truetype'), 
		 url('../fonts/ostrich_sans_rounded/ostrich-sans-rounded.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Ostrich Sans';
	src: url('../fonts/ostrich_sans_black/ostrich-sans-black.eot');
	src: local('☺'), url('../fonts/ostrich_sans_black/ostrich-sans-black.woff') format('woff'), 
					url('../fonts/ostrich_sans_black/ostrich-sans-black.ttf') format('truetype'), 
					url('../fonts/ostrich_sans_black/ostrich-sans-black.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}

$icon-font-path: "../fonts/bootstrap" !default;

@import url(https://fonts.googleapis.com/css?family=Vollkorn:400,400italic,700,700italic);